@import "~reset-css/reset.css";

* {
	box-sizing: border-box;
}

html {

	font-family: sans-serif;
	font-weight: normal;
	font-size: 1.5em;
}

.book-word {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	font-weight: bold;

	background-color: rgba(255, 255, 255, 0.9);
	border-top: #eee 1px solid;
	min-height: 2.5em;
}

.book-word__current {
	margin: 0 auto;
	padding: 1em 0;
	max-width: 40em;
}

.book-progress {
	margin: 0 auto;
	padding: 3em 0 5em 0;
	max-width: 40em;

	line-height: 1.1em;
}

.book-progress > h1 {
	font-size: 1.5em;
	font-weight: bold;

}

.book-progress > * + h1 {
	margin-top: 1em;
}

.book-progress > * + div {
	margin-top: 1em;
}
