@import "~reset-css/reset.css";

* {
	box-sizing: border-box;
}

html {

	font-family: sans-serif;
	font-weight: normal;
	font-size: 1.5em;
}

.book-progress {
	margin: 0 auto;
	padding: 2em 1em 2em 1em;
	max-width: 40em;

	line-height: 1.1em;
}

.book-progress > h1 {
	font-size: 1.3em;
	line-height: 1.2em;
	font-weight: bold;

}

.book-progress > * + h1 {
	margin-top: 1.2em;
}

.book-progress > * + div {
	margin-top: 0.5em;
}

.emoji-tag {
	display: inline-block;
	padding: 0.5em 0.6em;
	margin-bottom: 0.25em;
	border-radius: 100px;

	background-color: #eee;
}

.emoji-tag > * {
	display: inline-block;
	vertical-align: middle;
}


.emoji-tag > *:nth-child(1) {
	line-height: 1em;
	font-size: 0.8em;
	transform: translateY(0.05em);
}

.emoji-tag > *:nth-child(2) {
  font-size: 0.6em;
  margin-left: 0.3em;
  line-height: 1em;
  text-transform: uppercase;
}
